@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');
.main__about{
    width: 100%;
    min-height: 100vh;
}
.about__body{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    min-height: inherit;
    width: 70%;
    margin: auto;
    /* margin-top: 25vh; */
}
.about__body__upper,.about__body__bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    width: 100%;
}
.about__heading__cont{
    width:100%;
}
.about__heading{
    color: white;
    margin-top: 25vh;
    font-family: Ubuntu;
    font-size: 80px;
    font-weight: 700;
    line-height: 110px;
    margin-bottom: auto;
    white-space: nowrap;
}
.about__down__arrow>img{
    margin: auto;
    filter: invert(1);
    transition: transform .5s;
}
.about__down__arrow{
    position: relative;
    width: 99vw;
    text-align: center;
}
.about__down__arrow:hover > img{
    transform: scale(0.8);
    cursor: pointer;
}


.blurred-box{
    margin-top: 20vh;
    margin-bottom: 10vh;
    position: relative;
    width: 100%;
    height: inherit;
    /* top: calc(50% - 175px);
    left: calc(50% - 125px); */
    background: inherit;
    border-radius: 1rem;
    overflow: hidden;
    padding: 20px;
  }
  
.blurred-box:after{
    content: '';
    width: 100%;
    height: inherit;
    background: inherit; 
    position: absolute;
    left: 0;
    /* left position */
    right: 0;
    top: 0px;  
    /* top position  */
    bottom: 0px;
    box-shadow: inset 0 0 0 500px rgba(57, 166, 255, 0.137);
    filter: blur(5px);
    z-index: -1000;
}

.about__text{
    font-size: 1.1rem;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
.about__text__skills{
    text-align: left;
    margin-top: 10vh;
}

.scroll_to_top{
    position: fixed; right: 0; bottom: 0;
    background-color: transparent;
    border: none;
}
.scroll_to_top>img{
    filter: invert(1);
    width: 30px;
    height: 30px;
}


@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 810px){

}
@media only screen and (max-width: 425px){
    .about__heading{
        color: white;
        /* margin-top: 15vh; */
        font-family: Ubuntu;
        font-size: 60px;
        font-weight: 700;
        line-height: 70px;
        margin-bottom: auto;
        white-space: normal;
    }
}