.main__home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 810px){
    .main__home{
        flex-direction: column;
    }
}
@media only screen and (max-width: 425px){
}