.App {
    position: relative;
    min-height: 100vh;
}

.app__background {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1000;
    background-image: linear-gradient(125deg, #000, #03a9f4, #E4FFCD);
    background-size: 550%;
}

.main {
    /* position: absolute; */
    min-height: inherit;
    width: 100%;
}

.section-dark {
    background: #333;
    color: white;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}